table { 
    background-color: darkslategrey;
    margin: 10vh;
    border: solid black 1px;
    border: outset;
}

th{
    color: white;
    text-shadow: black;
    background-color: darkslategray;
    font-size: medium;
    text-shadow: antiquewhite;
}

td{
    border: solid black 1px;
}

tr {
    background-color: aquamarine;
}
.fila3{
    background-color: darkseagreen;
}
.fila4{ 
    background-color: darkseagreen;
}
.fila5{
    background-color: darkseagreen;
}
.fila6{
    background-color: darkseagreen;
}